# Logs
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase config
.firebaserc
public/firebaseConfig.js

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
.npm
.eslintcache

# Build
dist/